<form action="">
  <p><input [(ngModel)]="passwordLength" name="passworLength" type="number" min="6" max="20" placeholder="how many chars..."></p>
  <p><input [(ngModel)]="hasNumbers" type="checkbox" name="hasNumbers" id="hasNumbers">Souhaitez-vous intégrer des chiffres 0-9</p>
  <p><input [(ngModel)]="hasSpecialChars" type="checkbox" name="hasSpecialCharacters" id="hasSpecialCharacters">Souhaitez-vous intégrer des caractères speciaux &%+_&commat;#$!?</p>

  @if (password) {
    <p>Votre mot de passe: <span style="font-weight: bold">{{password}}</span></p>

  }
  
  <button (click)="generatePassword()">Générer</button>

</form>
