@if(errorLabel) {
    <p>{{errorLabel}}</p>
}
@else {
    <h2>Liste des étudiants ({{students.length}})</h2>

    <student-student-form  (studentAdded)="onStudentAdded($event)"></student-student-form>

    <button (click) = "areAllGradesVisible = !areAllGradesVisible">
        {{areAllGradesVisible ? 'Masquer' : 'Afficher'}} toutes les moyennes
    </button>

    @for (student of students; track $index) {

        <student-student-card (studentDeleted)="onDeleteStudent($event)" [student]="student" [isGradeVisible]="areAllGradesVisible"></student-student-card>
    }
}
